<!-- app/views/shared/_nav.html.erb -->
<nav>
  <ul>
    <li>
      <a href="/">
        <figure>
          <img src="assets/images/logo.png">
        </figure>
        /Mastercard
      </a>
    </li>
    <li><%=link_to "Home", root_path %></li>
    <li><%=link_to "Customers", "/customers"%></li>
    <li><%=link_to "Subscribe", "/new"%></li>
  </ul>
</nav>